@import 'variables';

.container {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  align-items: flex-start;
  position: sticky;
  top: 0;
  background: #fafafa;
  border-radius: 0 0 10px 10px;
  z-index: 2;
  flex-wrap: wrap;

  @media only screen and(max-width: $max-mobile-width) {
    justify-content: space-between;
  }

  .button-wrapper {
    margin: 10px;
  }
}