@import 'variables';

.container {
  display: flex;
  position: fixed;
  align-items: center;
  width: auto;
  height: 60px;
  border-radius: 100px;
  background-color: #32ba9b;
  color: white;
  bottom: 30px;
  right: 30px;
  border: none;
  transition: .3s;

  &:hover {
    box-shadow: 1px 10px 10px #0000003d
  }

  &:active {
    opacity: .5;
    transition: .01s;
  }
}