@import 'variables';

body {
  background: $background-image;

  .toast-container {
    position: fixed;
    bottom: 30px;
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    left: 0;
  }
}
